* {
    margin: 0;
    background-color: #000000;
    color: #0C0;
    font-family: monospace;
}
html, body {
    overflow: hidden;
    height: 99%;
}
.pane {
    border: 1px;
    border-color: #0C0;
    border-style: solid;
    box-sizing: border-box;
}
#container {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
#right {
    float: right;
    width: 50%;
    height: 100%;
}
#three-city {
    height: 50%;
}
#three-building {
    height: 50%;
}
#console {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 100%;
}
#stdout {
    width: 100%;
    height: 97%;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
}
#stdin-span {
    width: 48%;
    display: inline-block;
    margin: 0;
    position: absolute;
    bottom: 2px;
}
#stdin {
    width: 95%;
    border-style: none;
    outline: none;
}
